/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#111;
    color:#fff;
    line-height:1.7;
}

/* Navigation */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#000;
    border-bottom:2px solid #D4AF37;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#D4AF37;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav ul li a:hover{
    color:#D4AF37;
}

/* Hero */

.hero{
    min-height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:60px 20px;
}

.hero img{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #D4AF37;
    margin-bottom:25px;
}

.hero h1{
    font-size:50px;
    color:#D4AF37;
    margin-bottom:10px;
}

.hero h2{
    font-size:24px;
    font-weight:400;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    margin-bottom:30px;
}

/* Buttons */

.buttons{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.btn{
    display:inline-block;
    padding:15px 35px;
    border-radius:40px;
    background:#D4AF37;
    color:#111;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-3px);
}

.secondary{
    background:transparent;
    border:2px solid #D4AF37;
    color:#D4AF37;
}
section{
    padding:80px 8%;
}

section h2{
    color:#D4AF37;
    text-align:center;
    margin-bottom:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:#1a1a1a;
    border:1px solid #D4AF37;
    border-radius:12px;
    padding:25px;
    text-align:center;
}

footer{
    text-align:center;
    padding:30px;
    background:#000;
    border-top:2px solid #D4AF37;
}

@media screen and (max-width:768px){

nav{
    flex-direction:column;
    padding:15px;
}

.logo{
    font-size:20px;
    text-align:center;
    margin-bottom:10px;
}

nav ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
    padding:0;
}

nav ul li a{
    font-size:15px;
}

.hero h1{
    font-size:34px;
}

.hero h2{
    font-size:20px;
}

.hero img{
    width:180px;
    height:180px;
}

.buttons{
    flex-direction:column;
    align-items:center;
}

.btn{
    width:220px;
    text-align:center;
}
}
